/* .header .menu, .icon{
    display: none;
}

.container{
    width: 100%;

}
.section{
    flex-direction: column;
} */


@media screen and (max-width: 768px) {
    .header .logo{
        left: 1.5em;
    }
    
    
    .container{
        width: 100%;
        padding: 1.5em;
        left: 0;
    }
    .header{
        width: 100%;
    
    }

    .header .menu{
        position: absolute;
        left: 15em;
        top: 4em;
        display: none;
        width: 100%;
        
    }
    .header .menu ul{
    /* display: none;   */
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        z-index: 1;
        /* display: ; */
        height: auto;
        width: 100%;
        background-color: #1F2E35;
        color: #ffffff;
        left: -15em;
        padding: 16px;
        transition: 0.4s ease;
    }
    .header .menu ul li{
        margin: auto;
        /* background-color: #27A770; */
    }
    .header .menu ul li a{
        color: #ffffff;
        
    }

    .header .respon_icon{
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        align-content: flex-end;
        justify-content: flex-end;
        margin-right: 26px;
    }
    
    .header .respon_icon span{
        background-color: #455A64;
        margin-bottom: 5px;
    }
    .header .respon_icon span:first-child{
        height: 2px;
        width: 100%;
    }
    .header .respon_icon span:nth-child(2){
        height: 2px;
        width: 70%;
    }
    .header .respon_icon span:nth-child(3){
        height: 2px;
        width: 100%;
    }
    .header .respon_icon span:last-child{
        height: 2px;
        width: 70%;
    }





    .header .icon{
        display: none;
    }
    .container .section{
        flex-direction: column;
        
        /* margin-left: -130px; */
    }
    .container .section svg{
        margin-top: -64px;
        /* margin-left: -11px; */
        width: 22.6em;
        height: 300px;
    }
    .container .section .groupText{
        width: 340px;
    }
    .container .section .groupText h1{
        text-align: center;
        width: 360px;
        /* left: -99; */
        font-size: 32px;

    }
    .container .section .groupText h1 span{
        /* left: -12px; */
        top: 86px;
        font-size: 32px;
        text-align: center;
        width: 360px;
        top: 87px;
        height: 1.4em;
        border-bottom: 4px solid #27A770;

    }
    .container .section .groupText p{
        text-align: center;
        /* left: -1px; */
        top: 120px;  
        width: 340px;

    }
    .container .section .groupText button{
        left: 85px;
        top: 240px;
    }

    .container .content{
        flex-direction: column;
        margin-top: 0;
    }
    .container .content svg{
        width: 23em;
    }

    .container .content .groupText{
        width: 22em;
        margin-top: -23px;
    }
    .container .content .groupText h1{
        width: 372px;
        text-align: center;
    }
    .container .content .groupText p{
        width: 352px;
        text-align: start;
        margin-left: 10px;
    }
    .container .services .content{
        flex-direction: column;
        margin-top: 8em;
    }

    .container .services .content .product svg{
        left: 0;
    }
    .container .services .content .service svg{
        left: 0;
    }
    .container .services .content .technology svg{
        left: 0;
        width: 100%;
    }
    .container .services .content h1{
        text-align: center;
        width: 86%;
    }
    .container .services .content p{
        text-align: center;
    }
    .container .services .content button{
        margin: auto;
    }
    .container .footer{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .container .footer .partner{
        width: 80%;
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    .copyright{
        top:227em;
    }


}